site_name: My site
site_url: https://codecompasss.github.io/codekub_userguide/

repo_name: codekub_userguide
repo_url: https://github.com/CodeCompasss/codekub_userguide

theme:
  name: material
  logo: image/logo.png
  favicon: images/favicon.ico
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.path
    - navigation.top
    - navigation.footer
    - search.highlight
    - search.suggest
    - search.share
    - content.code.copy
    - content.code.annotate

  




  font:
    text: Roboto
    code: Roboto Mono

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@squidfunk

  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation.

  analytics:
    provider: google
    property: G-XXXXXXXXXX

    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: Thanks for your feedback!

        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page using our
            <a href="..." target="_blank" rel="noopener">feedback form</a>.

markdown_extensions:
  - attr_list
  - tables
  - md_in_html

  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.blocks.caption

  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

  - pymdownx.tabbed:
      alternate_style: true

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

site_name: " CodeKub User Guide"
site_description: "A complete beginner-friendly guide for CSE students"
theme:
  name: material

nav:
  - Home: index.md
  - Clipboard: clipboard.md
  - Hotkeys: Hotkeys.md
  - Language: lanugage.md
  - Desktop:
      - Lifera: Desktop/lifera.md
      - Obsidian: Desktop/obsidian.md
      - Readest: Desktop/readest.md
      - ULauncher: Desktop/ulancher.md
      - VirtualBox: Desktop/virtualbox.md
  - Development:
      - Docker: Development/docker.md
      - GitHub CLI: Development/githubcli.md
      - MISE: Development/mise.md
      - Postman: Development/postman.md
      - Spyder: Development/spyder.md
      - VS Code: Development/vscode.md
  - Terminal:
      - Overview: Terminal/index.md
      - Git Alias: Terminal/git-alias.md
      - MySQL: Terminal/mysql.md
      - Neovim: Terminal/neovim.md
      - SSH: Terminal/ssh.md
      - Zsh: Terminal/zsh.md
      - Shell Tools:
          - Eza: Terminal/shell-tool/eza.md
          - FD: Terminal/shell-tool/fd.md
          - FZH: Terminal/shell-tool/fzh.md
          - Ripgrep: Terminal/shell-tool/ripgrep.md
          - Zoxide: Terminal/shell-tool/zoxide.md
      - TUI:
          - Btop: Terminal/TUI/btop.md
          - Fastfetch: Terminal/TUI/fastfetch.md
          - Lazydocker: Terminal/TUI/lazydocker.md
          - Lazygit: Terminal/TUI/lazygit.md
  - Tiling: Tiling.md
  - Web Apps:
      - CodeCompass: webApp/codecompass.md
      - Communication: webApp/communication.md
      - Education: webApp/education.md
      - Game: webApp/game.md
      - Interview: webApp/interview.md
